<ul>
    <li><a href="{{ path('BlogPost', {title: "article-de-blog"}) }}">Accueil</a></li>
    <li><a href="{{ path('BlogPost', {'Featured': item.Featured, 'boolean': 'true'}) }}">Featured</a></li>
</ul>
